<div>
    <div id="nav-menu">
        <ul>
            <li><a href="" ng-click="viewSection(0)">Basic Info</a></li>
            <li><a href="" ng-click="viewSection(1)">Controllers</a></li>
            <li><a href="" ng-click="viewSection(2)">Ports</a></li>
            <li><a href="" ng-click="viewSection(3)">Tunnels</a></li>
            <li><a href="" ng-click="viewSection(4)">LAGs</a></li>
            <li><a href="" ng-click="viewSection(5)">Mirrors</a></li>
            <li><a href="" ng-click="viewSection(6)">NetFlow</a></li>
            <li><a href="" ng-click="viewSection(7)">sFlow</a></li>
            <li><a href="" ng-click="viewSection(8)">Queue</a></li>
            <li><a href="" ng-click="viewSection(9)">QoS</a></li>
            <li><a href="" ng-click="viewSection(10)">Flow Table</a></li>
        </ul>
    </div>
    <div ng-include src="template.url"></div>
</div>
