<div ng-controller="NetFlowCtrl">
  <table border="1">
    <tr>
      <th>Active Timeout</th>
        <td>
          <input type="number" ng-model="netflow.active_timeout">
        </td>
    </tr>
    <tr><th colspan="2">Targets</th> </tr>
    <tr><th>IP</th><th>Port</th></tr>
    <tr ng-repeat="target in netflow.targets">
      <td>
        <input type="text" ng-model="target.ip">
      </td>
      <td>
        <input type="number" ng-model="target.port">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button ng-click="update_netflow(netflow)">Save Changes</button>
        <button ng-click="del_netflow(netflow)">Delete</button>
        <button ng-click="goback()">Cancel</button>
      </td>
    </tr>
  </table>
  <hr>
  <table border="1">
    <tr>
      <th>Active Timeout</th>
        <td>
          <input type="number" ng-model="new_netflow.active_timeout">
        </td>
    </tr>
    <tr>
      <th>Target Count</th>
      <td>
       <input type="number" ng-model="target_count">  
      </td>
    </tr>
    <tr><th colspan="2">Targets</th></tr>
    <tr><th>IP</th><th>Port</th></tr>
    <tr ng-repeat="n in [] | range:target_count" ng-init="init_targets(target_count)">
      <td>
        <input type="text" ng-model="new_netflow.targets[n].ip">
      </td>
      <td>
        <input type="number" ng-model="new_netflow.targets[n].port">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button ng-click="add_netflow(new_netflow)">Add</button>
        <button ng-click="reset()">Discord</button>
      </td>
    </tr>
  </table>
</div>
